

/* Exemples:

p {
	color:red;}



*/

p{
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;

	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
} 


h1 { color:#606060; font-family:"Verdana"}
h2 { color:#989898; font-family:"Verdana"}
h3 { color:#606060; font-family:"Verdana"}
.Titre {font-family:"Verdana"; text-align:center; color:#383838;}
#Presentation {font-family:"Courier"; text-align:center;}
.SectionHeading { color:#989898; font-family:"Verdana";}
.FormationsJobs {font-family:"Arial";}
.année{color:#383838;}
.institution {font-weight:bold; color:#606060;}
.niveau{color:#606060; font-weight:bold;}
.cursus {font-style:italic;}
	.Skillsetc {font-family:"Arial";}
.description{margin-left:120px;} 
.logiciels{color:#606060; font-weight:bold;}

/*.GrandsSections{background-image:url(public/images/montenegro.jpg); border:2px solid; border-radius:25px; -moz-border-radius:25px; margin-left:30px; margin-right:30px; padding-left:20px; padding-right:20px; padding-bottom:20px;}
*/


.GrandsSections{background-color:#C8C8C8; border:2px solid; border-radius:25px; -moz-border-radius:25px; margin-left:30px; margin-right:30px; padding-left:20px; padding-right:20px; padding-bottom:20px;}



/* .Formation {background-image:url('public/images/montenegro.jpg');} */

